---
http_interactions:
- request:
    method: get
    uri: https://skatevideosite.com/api/search?search_text=junk%20song%20nobody%20skated%20to
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"video_results":[],"skaters_results":[],"song_results":[],"filmmaker_results":[],"company_results":[],"tag_results":[]}'
  recorded_at: Fri, 23 Dec 2022 20:45:38 GMT
recorded_with: VCR 6.0.0
