---
http_interactions:
- request:
    method: get
    uri: https://skatevideosite.com/api/search?search_text=type%20o%20negative%20drunk%20in%20paris
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"video_results":[],"skaters_results":[],"song_results":[{"videoid":3632,"slug":"fa-world-entertainment-dancing-on-thin-ice","title":"FA
        World Entertainment - Dancing On Thin Ice","image_url":"https://assets.skatevideo.site/covers/fa-world-entertainment-dancing-on-thin-ice.png","is_active":true,"soundtracks":[{"id":34685,"section":"Kevin
        Rodrigues","track":"Type O Negative - Drunk In Paris"}]}],"filmmaker_results":[],"company_results":[],"tag_results":[]}'
  recorded_at: Fri, 23 Dec 2022 20:45:38 GMT
recorded_with: VCR 6.0.0
