---
http_interactions:
- request:
    method: get
    uri: https://skatevideosite.com/api/search?search_text=duster%20echo%20bravo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"video_results":[],"skaters_results":[],"song_results":[{"videoid":3371,"slug":"call-me-917-the-917-video","title":"Call
        Me (917) - The (917) Video","image_url":"https://assets.skatevideo.site/covers/the-917-video.jpg","is_active":true,"soundtracks":[{"id":32151,"section":"Aaron
        Loreth","track":"Duster - Echo, Bravo"}]},{"videoid":3969,"slug":"rosa-entertainment-roulette","title":"Rosa
        Entertainment - ROULETTE","image_url":"https://assets.skatevideo.site/covers/rosa-entertainment-roulette-26465.jpg","is_active":true,"soundtracks":[{"id":36976,"section":"1","track":"Duster
        - Echo, Bravo"}]}],"filmmaker_results":[],"company_results":[],"tag_results":[]}'
  recorded_at: Fri, 23 Dec 2022 20:45:38 GMT
recorded_with: VCR 6.0.0
