<header class="flex justify-center border-b-2 p-4">
  <h1 class="text-center">
    <p class="font-sembold text-4xl"><%= @song.name %></p>
    <p class="font-bold text-3xl"><%= @song.artist %></p>
  </h1>
</header>

<section class="divide-y-2">
  <%= render(@song.parts) || render("songs/empty") %>
</section>

<section class="fixed bottom-0 flex self-center items-center">
  <%= render "recordings/form" %>
</section>
