---
http_interactions:
- request:
    method: post
    uri: https://api.audd.io/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - multipart/form-data
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","error":{"error_code":700,"error_message":"Recognition
        failed: you didn''t send file via POST or file url as `url` param. If you
        sent the request by POST, please check the protocol you''re using: the URL
        should start with https:// (http:// requests get redirected so we don''t receive
        any data from you) and that your Content-Type header equals to `multipart/form-data`."},"request_params":{"return":"apple_music,spotify","api_token":"6***a"},"request_api_method":"recognize","request_http_method":"POST","see
        api documentation":"https://docs.audd.io","contact us":"api@audd.io"}'
  recorded_at: Fri, 23 Dec 2022 21:17:33 GMT
recorded_with: VCR 6.0.0
