---
http_interactions:
- request:
    method: post
    uri: https://api.audd.io/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - multipart/form-data
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","error":{"error_code":300,"error_message":"Recognition
        failed: a problem with fingerprints creating. Keep in mind that you should
        send only audio files or links to audio files. We support some of the Instagram,
        Twitter, TikTok and Facebook videos, and also parse html for OpenGraph and
        JSON-LD media and \u003caudio\u003e/\u003cvideo\u003e tags, but it''s always
        better to send a 10-20 seconds-long audio file. For audio streams, see https://docs.audd.io/streams/"},"request_params":{"api_token":"6***a","return":"apple_music,spotify"},"request_api_method":"recognize","request_http_method":"POST","see
        api documentation":"https://docs.audd.io","contact us":"api@audd.io"}'
  recorded_at: Fri, 23 Dec 2022 21:17:36 GMT
recorded_with: VCR 6.0.0
