---
http_interactions:
- request:
    method: post
    uri: https://api.audd.io/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - multipart/form-data
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","result":{"artist":"Roy Orbison","title":"In Dreams","album":"The
        Soul of Rock And Roll","release_date":"2009-02-10","label":"SME - Monument/Orbison
        Records/Legacy","timecode":"00:27","song_link":"https://lis.tn/FuvXuO","apple_music":{"previews":[{"url":"https://audio-ssl.itunes.apple.com/itunes-assets/AudioPreview125/v4/32/a6/89/32a689cd-1455-b2c2-5001-aed552e62f98/mzaf_9911245447818104233.plus.aac.p.m4a"}],"artwork":{"width":1416,"height":1416,"url":"https://is2-ssl.mzstatic.com/image/thumb/Music114/v4/1d/2e/15/1d2e1524-a3d1-0cf6-15b9-b1917e3fcdce/dj.moxbkdjv.jpg/{w}x{h}bb.jpg","bgColor":"0f100b","textColor1":"e3bd94","textColor2":"d9b0a2","textColor3":"b99a78","textColor4":"b09084"},"artistName":"Roy
        Orbison","url":"https://music.apple.com/us/album/in-dreams/997480285?app=music\u0026at=1000l33QU\u0026i=997480286\u0026mt=1","discNumber":1,"genreNames":["Rock","Music"],"durationInMillis":170745,"releaseDate":"1963-07-01","name":"In
        Dreams","isrc":"USSM19805294","albumName":"In Dreams","playParams":{"id":"997480286","kind":"song"},"trackNumber":1,"composerName":"Roy
        Orbison"},"spotify":{"album":{"name":"In Dreams","artists":[{"name":"Roy Orbison","id":"0JDkhL4rjiPNEp92jAgJnS","uri":"spotify:artist:0JDkhL4rjiPNEp92jAgJnS","href":"https://api.spotify.com/v1/artists/0JDkhL4rjiPNEp92jAgJnS","external_urls":{"spotify":"https://open.spotify.com/artist/0JDkhL4rjiPNEp92jAgJnS"}}],"album_group":"","album_type":"album","id":"5OpNbQPffWNtVhWCF6GziB","uri":"spotify:album:5OpNbQPffWNtVhWCF6GziB","available_markets":["AD","AE","AG","AL","AM","AO","AR","AT","AU","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BN","BO","BR","BS","BT","BW","BY","BZ","CA","CD","CG","CH","CI","CL","CM","CO","CR","CV","CW","CY","CZ","DE","DJ","DK","DM","DO","DZ","EC","EE","EG","ES","ET","FI","FJ","FM","FR","GA","GB","GD","GE","GH","GM","GN","GQ","GR","GT","GW","GY","HK","HN","HR","HT","HU","ID","IE","IL","IN","IQ","IS","IT","JM","JO","JP","KE","KG","KH","KI","KM","KN","KR","KW","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MG","MH","MK","ML","MN","MO","MR","MT","MU","MV","MW","MX","MY","MZ","NA","NE","NG","NI","NL","NO","NP","NR","NZ","OM","PA","PE","PG","PH","PK","PL","PS","PT","PW","PY","QA","RO","RS","RW","SA","SB","SC","SE","SG","SI","SK","SL","SM","SN","SR","ST","SV","SZ","TD","TG","TH","TJ","TL","TN","TO","TR","TT","TV","TW","TZ","UA","UG","US","UY","UZ","VC","VE","VN","VU","WS","XK","ZA","ZM","ZW"],"href":"https://api.spotify.com/v1/albums/5OpNbQPffWNtVhWCF6GziB","images":[{"height":640,"width":640,"url":"https://i.scdn.co/image/ab67616d0000b273ed717255beab9002539714c7"},{"height":300,"width":300,"url":"https://i.scdn.co/image/ab67616d00001e02ed717255beab9002539714c7"},{"height":64,"width":64,"url":"https://i.scdn.co/image/ab67616d00004851ed717255beab9002539714c7"}],"external_urls":{"spotify":"https://open.spotify.com/album/5OpNbQPffWNtVhWCF6GziB"},"release_date":"1963-02-01","release_date_precision":"day"},"external_ids":{"isrc":"USSM19805294"},"popularity":60,"is_playable":null,"linked_from":null,"artists":[{"name":"Roy
        Orbison","id":"0JDkhL4rjiPNEp92jAgJnS","uri":"spotify:artist:0JDkhL4rjiPNEp92jAgJnS","href":"https://api.spotify.com/v1/artists/0JDkhL4rjiPNEp92jAgJnS","external_urls":{"spotify":"https://open.spotify.com/artist/0JDkhL4rjiPNEp92jAgJnS"}}],"available_markets":["AD","AE","AG","AL","AM","AO","AR","AT","AU","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BN","BO","BR","BS","BT","BW","BY","BZ","CA","CD","CG","CH","CI","CL","CM","CO","CR","CV","CW","CY","CZ","DE","DJ","DK","DM","DO","DZ","EC","EE","EG","ES","FI","FJ","FM","FR","GA","GB","GD","GE","GH","GM","GN","GQ","GR","GT","GW","GY","HK","HN","HR","HT","HU","ID","IE","IL","IN","IQ","IS","IT","JM","JO","JP","KE","KG","KH","KI","KM","KN","KR","KW","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MG","MH","MK","ML","MN","MO","MR","MT","MU","MV","MW","MX","MY","MZ","NA","NE","NG","NI","NL","NO","NP","NR","NZ","OM","PA","PE","PG","PH","PK","PL","PS","PT","PW","PY","QA","RO","RS","RW","SA","SB","SC","SE","SG","SI","SK","SL","SM","SN","SR","ST","SV","SZ","TD","TG","TH","TJ","TL","TN","TO","TR","TT","TV","TW","TZ","UA","UG","US","UY","UZ","VC","VE","VN","VU","WS","XK","ZA","ZM","ZW"],"disc_number":1,"duration_ms":169160,"explicit":false,"external_urls":{"spotify":"https://open.spotify.com/track/44pN9jfSqY3d3lrKuv3QeN"},"href":"https://api.spotify.com/v1/tracks/44pN9jfSqY3d3lrKuv3QeN","id":"44pN9jfSqY3d3lrKuv3QeN","name":"In
        Dreams","preview_url":"https://p.scdn.co/mp3-preview/2dc1c5a40066e691e9fb6e1b449858a4a0720b49?cid=e44e7b8278114c7db211c00ea273ac69","track_number":1,"uri":"spotify:track:44pN9jfSqY3d3lrKuv3QeN"}}}'
  recorded_at: Fri, 23 Dec 2022 21:17:48 GMT
- request:
    method: get
    uri: https://skatevideosite.com/api/search?search_text=roy%20orbison%20in%20dreams
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"video_results":[],"skaters_results":[],"song_results":[{"videoid":1891,"slug":"grain-of-salt","title":"Grain
        of Salt","image_url":"https://assets.skatevideo.site/covers/grain-of-salt-36297.jpg","is_active":true,"soundtracks":[{"id":17892,"section":"Intro\r\n","track":"Roy
        Orbison - In Dreams\r\n"}]},{"videoid":2884,"slug":"enjoi-oververt","title":"Enjoi
        - Oververt","image_url":"https://assets.skatevideo.site/covers/enjoi-oververt-3547.jpeg","is_active":true,"soundtracks":[{"id":28388,"section":"Nestor
        Judkins","track":"Roy Orbison - In Dreams\r\n"}]},{"videoid":3122,"slug":"isle-vase","title":"Isle
        - Vase","image_url":"https://assets.skatevideo.site/covers/isle-vase.jpg","is_active":true,"soundtracks":[{"id":30062,"section":"Credits","track":"Roy
        Orbison - In Dreams"}]},{"videoid":3722,"slug":"vans-alright-ok","title":"Vans
        - Alright, OK.","image_url":"https://assets.skatevideo.site/covers/vans-alright-ok.jpg","is_active":true,"soundtracks":[{"id":35397,"section":"","track":"Roy
        Orbison - In Dreams"}]}],"filmmaker_results":[],"company_results":[],"tag_results":[]}'
  recorded_at: Fri, 23 Dec 2022 21:17:49 GMT
recorded_with: VCR 6.0.0
