---
http_interactions:
- request:
    method: get
    uri: https://skatevideosite.com/api/search?search_text=creedence%20clearwater%20revival%20effigy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"video_results":[],"skaters_results":[],"song_results":[{"videoid":2972,"slug":"sure","title":"Sure","image_url":"https://assets.skatevideo.site/covers/sure-8271.jpg","is_active":true,"soundtracks":[{"id":29220,"section":"2","track":"Creedence
        Clearwater Revival - Effigy"}]}],"filmmaker_results":[],"company_results":[],"tag_results":[]}'
  recorded_at: Fri, 23 Dec 2022 20:45:38 GMT
recorded_with: VCR 6.0.0
