$songs-neat-grid: (
  columns: 12,
  gutter: 50px,
  media: 1000px,
);
$red: #c60812;

.songs {
  &--form {
    display: none;
  }

  &--form__enabled {
    @include grid-media($songs-neat-grid) {
      display: block;
    }
  }

  &--record-button {
    background-color: $red;
    display: block;
    font-size: 1rem;
    height: 100%;
    padding: 3rem;
    width: 100%;

    @include grid-media($songs-neat-grid) {
      display: none;
    }
  }

  &--record-button__enabled {
    display: block;
  }
}
