$red: #c60812;
$progress: grey;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

p {
  font-size: 48px;
}

.parts {
  align-items: flex-start;
  flex: 1;
  overflow-y: scroll;

  &--part {
    border-bottom-style: solid;
    padding: 1rem;
    width: 100%;
  }
}

.songs {
  align-items: flex-end;
  flex: 0;

  &--form {
    display: none;
  }

  &--record-button {
    background-color: $red;
    border-radius: 50%;
    box-shadow: 8px 0 6px -6px black;
    display: block;
    height: 100%;
    margin: auto;
    padding: 4rem;

    .ready {
      fill: #fff;
    }

    .recording {
      fill: progress;
      transform: translateY(95%);
      transition-duration: 4s;
      transition-property: transform;
      transition-timing-function: ease;
    }
  }

  &__recording &--record-button {
    .recording {
      transform: translateY(0);
    }
  }
}

.song {
  &__header {
    width: 100%;
  }

  &__artist,
  &__name {
    margin: auto;
    text-align: center;
  }
}
